@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #13341E;
  --color-secondary: #4E7145;
  --color-accent: #EB9C35;
}

html,
body {
  font-family: var(--font-sans);
  background: url('./assets/images/background.jpg') rgba(26, 63, 34, 0.75);
  background-blend-mode: multiply;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
